<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <menu>
        <div class="create-box-container">
            <div class="create-box">
                <form id="new-task" action="/task/edit/<%= task._id %>" method="post">
                    <div class="create-box-title">
                        Title
                    </div>
                    <div class="create-box-title-input">
                        <input name="title" class="create-box-input" type="text" value="<%= task.title %>">
                    </div>
                    <div class="create-box-box-type">
                        Type
                    </div>
                    <div class="create-box-box-type-input">
                        <select id="type" name="type" class="create-box-input">
                            <option value="Work" <%= task.type === 'Work' ? 'selected' : '' %>>Work</option>
                            <option value="Learning" <%= task.type === 'Learning' ? 'selected' : '' %>>Learning</option>
                            <option value="Home Work" <%= task.type === 'Home Work' ? 'selected' : '' %>>Home Work</option>
                            <option value="Other" <%= task.type === 'Other' ? 'selected' : '' %>>Other</option>
                        </select>
                    </div>
                    <div class="create-box-desc">
                        Description
                    </div>
                    <div class="create-box-desc-input">
                        <input name="desc" class="create-box-input" type="text" value="<%= task.desc %>">
                    </div>
                    <div class="create-box-button-container">
                        <a href="/">
                            <button id="create-box-button-cancel" type="button">Cancel</button>
                        </a>
                        <button id="create-box-button-submit" type="submit">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </menu>
</body>
</html>