<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <menu>
        <div class="tasks">
            <button class="button-create">
                Create
            </button>
            <% if (tasks.length) { %>
                <% tasks.forEach(function(task) { %>
                    <div class="task">
                        <div class="task-top-side">
                            <div class="task-name">
                                <%= task.name %>
                            </div>
                            
                            <div class="task-panel">
                                <div class="task-type">
                                    <%= task.type %>
                                </div>
                                <button class="buttom-edit-task">
                                    edit
                                </button>
                                <button class="button-delete-task">
                                    delete
                                </button>
                                <% if(task.status){ %>
                                    <button class="button-task-status button-task-status-true">
                                    </button>
                                <% }else{ %>
                                    <button class="button-task-status button-task-status-false">
                                    </button>
                                <% } %>
                            </div>
                        </div>
                        <div class="task-button-side">
                            <div class="task-desc">
                                <%= task.desc %>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </menu>
</body>
</html>